# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: GitHub Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "15 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Intro
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: QubitPi
          template: classic
          base: header, activity, community, repositories, metadata
          filename: github-metrics-intro.svg
          config_timezone: Asia/Shanghai
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_lines: yes
      
      - name: Achievements
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: QubitPi
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          filename: github-metrics-achievements.svg
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C

      - name: Commit History
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: QubitPi
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          filename: github-metrics-commits-history.svg
          plugin_calendar: yes
          plugin_calendar_limit: 0
          
      - name: Current Year Commits History
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: QubitPi
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          filename: github-metrics-current-year-commits-history.svg
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

      - name: Issue & PR & Habits
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: QubitPi
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          filename: github-metrics-issue-pr-habits.svg
          plugin_followup: yes
          plugin_followup_archived: yes
          plugin_followup_sections: user
          plugin_habits: yes
          plugin_habits_from: 1000
          plugin_habits_days: 30
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_charts_type: classic
          plugin_habits_trim: no
          plugin_habits_languages_limit: 8

      - name: Star Lists - Data & Knowledge Graph
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: QubitPi
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          filename: github-metrics-starlists-data.svg
          plugin_starlists: yes
          plugin_starlists_limit: 100
          plugin_starlists_limit_repositories: 100
          plugin_starlists_languages: yes
          plugin_starlists_limit_languages: 100
          plugin_starlists_shuffle_repositories: yes
          plugin_starlists_only: Data, Knowledge Graph, GraphQL, ML & AI
          
      - name: Star Lists - Others
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: QubitPi
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          filename: github-metrics-starlists-others.svg
          plugin_starlists: yes
          plugin_starlists_limit: 100
          plugin_starlists_limit_repositories: 100
          plugin_starlists_languages: yes
          plugin_starlists_limit_languages: 100
          plugin_starlists_shuffle_repositories: yes
          plugin_starlists_only: Design, Documentation, OpenStack & Virtualization

      - name: LeetCode
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.leetcode.svg
          plugin_leetcode_user: _Jack_
          token: NOT_NEEDED
          base: ""
          plugin_leetcode: yes
          plugin_leetcode_sections: solved, skills, recent
